<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Auction detail page</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/style.css" th:href="@{/static/style.css}" />
</head>
<body>
<fieldset>
    <div>
        <fieldset>
            <legend th:text="#{auction}">Auction details</legend>
            <table>
                <thead>
                    <tr>
                        <th th:text="#{auctionID}">Auction code</th>
                        <th th:text="#{actualPrice}">Current price</th>
                        <th th:text="#{articleID}">Product code</th>
                        <th th:text="#{productName}">Name</th>
                        <th th:text="#{description}">Description</th>
                        <th th:text="#{photo}">Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="selectedauction : ${selectedauction}">
                        <td th:text="${selectedauction.auctionID}">data</td>
                        <td th:text="${selectedauction.price}">data</td>
                        <td th:text="${selectedauction.productID}">data</td>
                        <td th:text="${selectedauction.name}">data</td>
                        <td th:text="${selectedauction.description}">data</td>
                        <td>data</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend th:text="#{offers}">Offering details</legend>
            <table>
                <thead>
                    <tr>
                        <th th:text="#{username}">User</th>
                        <th th:text="#{price}">Bid</th>
                        <th th:text="#{date}">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="offer : ${offer}">
                        <td th:text="${offer.userID}">data</td>
                        <td th:text="${offer.offering}">data</td>
                        <td th:text="${offer.date}">data</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</fieldset>
<fieldset th:if="${winner != null}">
    <table>
        <thead>
            <tr>
                <th>UserID</th>
                <th>Username</th>
                <th>Email</th>
                <th>City</th>
                <th>Address</th>
                <th>Province</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${user}">
                <td th:text="${user.userID}">data</td>
                <td th:text="${user.username}">data</td>
                <td th:text="${user.email}">data</td>
                <td th:text="${user.city}">data</td>
                <td th:text="${user.province}">data</td>
                <td th:text="${user.address}">data</td>
            </tr>
        </tbody>
    </table>





</fieldset>
<div>
    <fieldset>
        <a href="sell" th:text="#{previous}">Return to previous page</a>
    </fieldset>
</div>
</body>
</html>